// Colors
$color-primary: #162447;
$color-secondary: #f8f3eb;

$color-black: #000;
$color-jet: #363636;
$color-dim-gray: #696969;
$color-spanish-gray: #989898;
$color-fog: #e0e0e0;
$color-white: #fff;

// Typography
$typeface-serif: "Zilla Slab", Georgia, serif;
$typeface-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
$typeface-mono: consolas, monaco, menlo, monospace;

$type-weight-regular: 400;
$type-weight-bold: 600;

$leading-none: 1;
$leading-sm: 1.2;
$leading-md: 1.5;
$leading-lg: 2;

$type-size-tokens: sm, md, lg, xl, xxl;
$type-sizes: 0.89rem, 1rem, 1.15rem, 1.45rem, 1.67rem;
$type-sizes--vp-lg: 0.875rem, 1rem, 1.3125rem, 1.5rem, 2.25rem;

// Viewports - for media queries
$viewport-sm-up: 300px;
$viewport-md-up: 700px;
$viewport-lg-up: 1000px;

// Spacing
$space-none: 0;
$space-3xs: 0.1em;
$space-2xs: 0.25em;
$space-xs: 0.5em;
$space-sm: 0.75em;
$space-md: 1em;
$space-lg: 1.5em;
$space-xl: 2em;

// Border radius
$radius-xs: 3px;
$radius-sm: 5px;
$radius-lg: 10px;
$radius-circle: 50%;

// Consistent outline styles for focus-ring
$outline-style: 2px dashed currentColor;
$outline-offset: 1px;

// Selected text
$selection-bg: $color-black;
$selection-text: $color-white;

// Semantic text color tokens
$text-regular: $color-jet;
$text-darker: $color-black;
$text-lighter: $color-dim-gray;
$text-inactive: $color-spanish-gray;

// base definition
$body-bg: $color-white;
$base-text-color: $color-jet;
$base-leading: $leading-md;
$base-typeface: $typeface-serif;
$base-type-size: 18px;
$base-type-size--vp-lg: 16px;
$base-type-weight: $type-weight-regular;

// links
$link-color: #036cc9;
$link-color--visited: #8a3d61;
$link-color--highlight: #084177;
$link-uline: 1px solid transparent;
$link-uline--highlight: 1px solid currentColor;

// Typography
$heading-typeface: $typeface-sans;
$heading-type-weight: $type-weight-bold;
$heading-leading: $leading-sm;
$heading-color: $text-lighter;
$heading-margin: $space-md 0 $space-2xs;

// Average bottom margins that we will apply to most typographic elements
// such as p, ul, ol, blockquote etc.
$base-margin-bottom: $space-sm;

// blockquotes
$blockquote-radius: $radius-sm;
$blockquote-bg: $color-fog;
$blockquote-padding: $space-xs $space-md;
$blockquote-border-left: 3px solid currentColor;
